<div class="card shadow-effect">
  <div class="card-body">
    <div class="text-center mt-3 mb-5">
      <h3 class="text-uppercase card-title">subscription form</h3>
      <p class="m-auto subs-text card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, accusantium cum debitis dolore ducimus eligendi impedit incidunt maxime, molestiae mollitia odit praesentium provident, quisquam rem sapiente soluta tenetur ullam vitae?</p>
      <form class="form mb-5 mt-5">
       <div class="row">
         <div class="col form-group">
           <input class="form-control shadow-effect" type="text" placeholder="Your name">
         </div>
         <div class="col form-group">
           <input class="form-control shadow-effect" type="email" placeholder="Your email">
         </div>
         <div class="col-md-3">
           <button class="btn btn-info text-uppercase btn-theme">Subscribe</button>
         </div>
       </div>

      </form>
    </div>
  </div>
</div>
