<div class="card mt-5 p-3 shadow-effect">
  <h1>Leave a comment</h1>
  <p>you can leave a comment using comment form</p>

  <form>
    <div class="form-group">
      <label for="">Name</label>
      <input  type="text" class="form-control shadow-effect" placeholder="Enter your name here">
    </div>
    <div class="form-group">
      <label >Comment</label>
      <textarea cols="30" rows="10" class="form-control shadow-effect" placeholder="Add your comment here"></textarea>
    </div>
    <br>
    <button class="btn btn-info btn-theme">Add a comment</button>
  </form>

</div>
