nav{
  margin-top: 100px;
  height: 50px;
  background-color: var(--navbar-footer-color);
}
.nav-link{
  text-transform: uppercase;
  color: var(--primary-color);
}
a:hover{
  padding: 5px 20px;
  border-radius: 20px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 1.5em;
}
