<div class="card my-5 pb-5 shadow-effect">
  <div class="card-body">
    <h4 class="my-3">Comments (12900)</h4>
      <div class="comment-box mt-3">
        <h6 class="mb-0">John doe</h6>
        <small class="text-danger text-uppercase">last updated oct 10. 2023</small>
        <div class="my-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolores earum exercitationem
        </div>
        <a href="#" class="mt-1">Reply</a>
        <a href="#" class="mt-1 ml-3">View reply</a>
        <hr>
      </div>
    <div class="comment-box mt-3">
      <h6 class="mb-0">John doe</h6>
      <small class="text-danger text-uppercase">last updated oct 10. 2023</small>
      <div class="my-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolores earum exercitationem
      </div>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ml-3">View reply</a>
      <hr>
    </div>
    <div class="comment-box mt-3">
      <h6 class="mb-0">John doe</h6>
      <small class="text-danger text-uppercase">last updated oct 10. 2023</small>
      <div class="my-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolores earum exercitationem
      </div>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ml-3">View reply</a>
      <hr>
    </div>
    <div class="comment-box mt-3">
      <h6 class="mb-0">John doe</h6>
      <small class="text-danger text-uppercase">last updated oct 10. 2023</small>
      <div class="my-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolores earum exercitationem
      </div>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ml-3">View reply</a>
      <hr>
    </div>
  </div>
</div>
