<div class="container">
  <div class="row ">
    <div class="col-md-9 mt-3">
      <div class="card shadow-effect">
        <img src="https://picsum.photos/id/124/640/320" alt="" class="card-img-top img-fluid">
        <div class="card-body">
          <small class="bg-light text-danger text-center ">Desing</small>
          <small class="bg-light text-success text-center ml-2">Featured</small>
          <small class="bg-light text-info text-center ml-2">Views - 12300</small>
          <small class="bg-light text-warning text-center text-uppercase ml-2">last update oct 10. 2023</small>
          <h1 class="my-3 text-uppercase"> how to create blog in 2023</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at consequatur dicta distinctio doloribus eaque eligendi eos facere ipsam itaque natus nemo neque nisi placeat quo, reprehenderit sapiente ut voluptas!</p>
        </div>
      </div>
      <app-comments-form></app-comments-form>
      <app-comments-list></app-comments-list>
    </div>
    <div class="col-md-3 mt-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
