<div class="card shadow-effect">
  <img class="card-img-top" src="https://picsum.photos/id/118/640/320" alt="post-img">
  <div class="card-body">
    <small class="bg-light text-danger text-center">Desing</small>
    <small class="bg-light text-success text-center ml-3">Featured</small>
    <small class="bg-light text-info text-center ml-3">views 1900</small>
    <h5 class="mt-1 text-uppercase card-title"> how to start Blog </h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem harum nemo nobis quasi quo repellat. Eius esse eum ipsa iusto, laboriosam magni officia perspiciatis quod repudiandae sequi similique unde veniam.</p>
    <small class="bg-light text-warning text-uppercase text-center ml-3">Last update - oct 10, 2023</small>
  </div>
</div>
